<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.im.project.manager.MemberMapper" >
  <resultMap id="BaseResultMap" type="com.im.project.model.Member" >
    <id column="id" property="person_id" jdbcType="INTEGER" />
    <result column="name" property="name" jdbcType="VARCHAR" />
    <result column="pic_id" property="pictureId" jdbcType="INTEGER" />
    <result column="jianjie" property="jianjie" />
    <result column="xibie" property="xibie" jdbcType="VARCHAR" />
    <result column="zhiwu" property="zhiwu" jdbcType="VARCHAR" />
   <association property="picture" column="pic_id" select="com.im.project.manager.PictureMapper.selectByPrimaryKey" javaType="com.im.project.model.Picture"/>
  </resultMap>
  <sql id="Base_Column_List" >
    person_id, name, zhiwu,picture,jianjie,xibie
  </sql>
   <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select  
      <include refid="Base_Column_List" />
    from person
    where person_id = #{id,jdbcType=INTEGER}
  </select>
  <select id="findAll" resultMap="BaseResultMap" parameterType="java.util.Map">
  select
   <include refid="Base_Column_List" />
   from person
  where type=2 limit  #{pageNow} ,#{pageSize}
  </select>
  <insert id="insert" parameterType="com.im.project.model.Member" >
    insert into person ( person_id,name,picture,jianjie,xibie,zhiwu)
    values (#{id,jdbcType=INTEGER}, #{name,jdbcType=VARCHAR}, #{pictureId,jdbcType=INTEGER},
    #{jianjie},#{xibie,jdbcType=VARCHAR},#{zhiwu,jdbcType=VARCHAR})
  </insert>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from person
    where person_id = #{id,jdbcType=INTEGER}
  </delete>
  <update id="updateByPrimaryKey" parameterType="com.im.project.model.Member" >
    update person
    <set >
      <if test="name != null" >
        neme =#{name,jdbcType=VARCHAR},
      </if>
      <if test="pictureId!= null" >
        picture =#{pictureId,jdbcType=INTEGER},
      </if>
      <if test="jianjie != null" >
        jianjie =#{jianjie},
      </if>
       <if test="xibie != null" >
        xibie =#{xibie,jdbcType=VARCHAR},
      </if>
       <if test="zhiwu != null" >
        zhiwu =#{zhiwu,jdbcType=VARCHAR}
      </if>
      
    </set>
    where person_id = #{id,jdbcType=INTEGER}
  </update>
 
  
</mapper>