<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.im.project.manager.PictureMapper">
	<resultMap id="BaseResultMap" type="com.im.project.model.Picture">
		<id column="pic_id" property="id" jdbcType="INTEGER" />
		<result column="link" property="link" jdbcType="VARCHAR" />
		<result column="date" property="date" jdbcType="VARCHAR" />
		<result column="type" property="type" jdbcType="INTEGER" />
	</resultMap>
	
	<sql id="Base_Column_List">
		pro_id, link, date,type
	</sql>
	
	<select id="selectByPrimaryKey" resultMap="BaseResultMap"
		parameterType="java.lang.Integer">
		select
		<include refid="Base_Column_List" />
		from user
		where pic_id = #{id,jdbcType=INTEGER}
	</select>

	<insert id="deleteByPrimaryKey" parameterType="com.im.project.model.Picture">
		insert into
		 user (pic_id, link,date,type)
		values (#{id,jdbcType=INTEGER}, #{link,jdbcType=VARCHAR},
		#{date,jdbcType=VARCHAR},#(type,jdbcType=VARCHAR))
	</insert>
	
	<update id="updateByPrimaryKey" parameterType="com.im.project.model.Picture">
		update user
		set
		pic_id = #{id,jdbcType=INTEGER},
		link=#{link,jdbcType=VARCHAR},
		date=#{date,jdbcType=VARCHAR},
		type= #{type,jdbcType=INTEGER}
		where
		pic_id = #{id,jdbcType=INTEGER}
	</update>

	<select id="findAll" resultMap="BaseResultMap" parameterType="java.util.Map">
		select
		<include refid="Base_Column_List" />
		from picture limit #{pageNow} ,#{pageSize}
	</select>

	<select id="selectByType" resultMap="BaseResultMap"
		parameterType="java.util.Map">
		select
		<include refid="Base_Column_List" />
		from picture
		where type=#{type} limit #{pageNow} ,#{pageSize}
	</select>
	
	<select id="listPic" resultMap="BaseResultMap">
		select
		<include refid="Base_Column_List" />
		from picture
		where type=5 limit 3
		
	</select>
</mapper>