<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.im.project.manager.ProjectMapper">
	<resultMap id="BaseResultMap" type="com.im.project.model.Project">
		<id column="pro_id" property="id" jdbcType="INTEGER" />
		<result column="title" property="title" jdbcType="VARCHAR" />
		<result column="cont" property="content" jdbcType="VARCHAR" />
		<result column="leader" property="leader" jdbcType="VARCHAR" />
		<result column="startline" property="startline" jdbcType="VARCHAR" />
		<result column="deadline" property="deadline" jdbcType="VARCHAR" />
	</resultMap>
	<sql id="Base_Column_List">
		pro_id, title, cont,leader,startline,deadline
	</sql>
	<select id="selectByPrimaryKey" resultMap="BaseResultMap"
		parameterType="java.lang.Integer">
		select
		<include refid="Base_Column_List" />
		from project
		where pro_id = #{id,jdbcType=INTEGER}
	</select>

	<select id="findAllCompleted" resultMap="BaseResultMap"
		parameterType="java.util.Map">
		select <include refid="Base_Column_List" />
		from project where type = 2  limit #{pageNow} ,#{pageSize}
	</select>
	<select id="findAllDoing" resultMap="BaseResultMap"
		parameterType="java.util.Map">
		select <include refid="Base_Column_List" />
		from project where type = 1  limit #{pageNow} ,#{pageSize}
	</select>
	<select id="findAllByType" resultMap="BaseResultMap">
		select <include refid="Base_Column_List" />
		from project where type =#{type} limit #{pageNow} ,#{pageSize}
	</select>
 

	<insert id="insert" parameterType="com.im.project.model.Project" >
		insert into project (pro_id, title,
		cont,leader,startline,deadline,type)
		values (#{id,jdbcType=INTEGER}, #{title,jdbcType=VARCHAR},
		#{content,jdbcType=VARCHAR},
		#{leader,jdbcType=VARCHAR},
		#{startline,jdbcType=VARCHAR},#{deadline,jdbcType=VARCHAR},#{type,jdbcType=INTEGER})
	</insert>
	
 <update id="updateByPrimaryKey" parameterType="com.im.project.model.Project">
		update project
		set
		title = #{title,jdbcType=VARCHAR},
		content=#{content,jdbcType=VARCHAR},
		leader=#{leader,jdbcType=VARCHAR},
		startline= #{startline,jdbcType=VARCHAR},
		deadline=#{deadline,jdbcType=VARCHAR},
		type=#{type,jdbcType=INTEGER}
		where pro_id = #{id,jdbcType=INTEGER}
	</update>
 
</mapper>